h2 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: #4b2c39;
    text-shadow: 3px 3px 3px rgb(102, 7, 7);
    font-size: xx-large;
}
